			<div class="container">
                <h2><strong>Team Members </strong></h2>
                <div class="wrapper">
			    <div class="row">
                    <div class="col">
			            <img src='/img/dp.jpeg' class="image--cover" alt='Dhruv'>
			            <h3>Dhruv Patel</h3>
                    </div>
                    <div class="col">
                        
			            <img src='/img/a.jpg' class="image--cover" alt='Anurag'>
			            <h3>Anurag Aman</h3>
			        
                    </div>
                    <div class="col">
			            <img src='/img/dn.jpg' class="image--cover" alt='Dishant'>
			            <h3>Dishant Naik</h3>
                    </div>
			    </div>
                <hr>
                <div class="row">
                    <div class="col">
			            <img src='/img/v.jpg' class="image--cover" alt='Vyom'>
			            <h3>Vyom Shah</h3>
                    </div>
                    <div class="col">
                        
			            <img src='/img/p.png' class="image--cover" alt='Priyankkumar'>
			            <h3>Priyankkumar Shah</h3>
			        
                    </div>
			    </div>
                </div>
			</div>